.dataTables_wrapper .dataTables_info {
    clear:none;
    float: left;
    padding-top: 0.755em;
}

div.dataTables_length {
    float: left;
    padding-top: 15px;
    padding-left: 30px;
}

div.dataTables_paginate {
    float: right;
}

table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
    content: none;
}

table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after {
    content: none;
}